
data.yafb.net:80, data.yafb.net {
	handle_path /api/* {
		import cors {header.origin}

		@missingHeader not header Secret *
		respond @missingHeader <<JSON
    {"error":"The 'SECRET' header is required but was not provided or is empty"}

		JSON 400

	  @invalidSecret header Secret DEPLOYMENT*
		respond @invalidSecret <<JSON
    {"error":"The provided 'SECRET' header is invalid or unauthorized"}

    JSON 400

		rewrite * /google-script.sh/{path}?{query}
		reverse_proxy http://localhost:8183 {
			header_up Host {host}
			header_up X-Real-IP {remote}
			header_up X-Forwarded-For {remote}
			header_up X-Forwarded-Port {server_port}
			header_up X-Forwarded-Proto {scheme}
			header_up X-Forwarded-Host {host}
			header_up Secret {http.request.header.Secret}
		}
	}

	handle_path /* {
		rewrite * /data.yafb.net{uri}
		reverse_proxy https://yafb.net {
			header_up Host yafb.net
		}
	}
}
